@page
@model RazorPagesMovie.Pages.Users.AccountModel
@{
    ViewData["Title"] = "Account";
}

<h1>Tuition</h1>
<h2>@Model.TotalTuition.ToString("C")</h2>

<a href="/Payments/Checkout">Pay Tuition</a>