@page
@model RazorPagesMovie.Pages.Payments.CancelModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Checkout canceled</title>
</head>
<body>
    <section>
        <div class="card text-center">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <h5 class="card-title">Payment Cancelled</h5>
                <p class="card-text"> Payment cancelled. If you wish to make another payment, return to your account page and try again. </p>
                <a asp-page="/Users/Account" role="button" class="btn btn-primary">Return to Account</a>
                <a asp-page="/Users/Index" role="button" class="btn btn-primary">Home</a>
            </div>
            <div class="card-footer text-body-secondary">
            </div>
        </div>
    </section>
</body>
</html>