@page 
@model RazorPagesMovie.Pages.Payments.CheckoutModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="~/css/site.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <section>
        <div class="product">
            <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
            <div class="description">
                <h3>Tuition</h3>
                <h5>$ @Model.price</h5>
            </div>
        </div>
        <form asp-action="OnPost" method="POST">
            <input type="hidden" asp-for="ViewModel.ID"  />
            <input type="hidden" asp-for="ViewModel.charge" />
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </section>
</body>
</html>