@page "{amt?}"
@model RazorPagesMovie.Pages.Payments.SuccessModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Thanks for your order!</title
</head>
<body>
    <section>
        <div class="card border-success border-2 text-center">
          <div class="card-header bg-success"></div>
          <div class="card-body">
            <h5 class="card-title">Payment Successful!</h5>
            <p class="card-text">@Model.successMsg</p>
            <p>We appreciate your business! If you have any questions, please email
            <a href="mailto:orders@example.com">orders@example.com</a></p>
            <a asp-page="/Users/Account" role="button" class="btn btn-primary">Return to Account</a>
            <a asp-page="/Users/Index" role="button" class="btn btn-primary">Home</a>
          </div>
          <div class="card-footer bg-success text-body-secondary"></div>
        </div>
    </section>
</body>
</html>