@page
@model RazorPagesMovie.Pages.Users.CreateModel
@{
    string[] states = { "Alabama", "Alaska", "American Samoa", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "District of Columbia", "Federated States of Micronesia", "Florida", "Georgia", "Guam", "Hawaii", "Idaho",
    "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Marshall Islands", "Maryland", "Massachusetts",
    "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico",
    "New York", "North Carolina", "North Dakota", "Northern Mariana Islands", "Ohio", "Oklahoma", "Oregon", "Palau", "Pennsylvania",
    "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virgin Island", "Virginia",
    "Washington", "West Virginia", "Wisconsin", "Wyoming" };

}

<h1> Create Account </h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Birthdate" class="control-label"></label>
                <input asp-for="User.Birthdate" class="form-control" />
                <span asp-validation-for="User.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.IsInstructor" class="control-label"></label>
                <div>
                    <input asp-for="User.IsInstructor" type="radio" value="true" id="yes" />
                    <label for="yes">Yes</label>
                </div>
                <div>
                    <input asp-for="User.IsInstructor" type="radio" value="false" id="no" />
                    <label for="no">No</label>
                </div>
                <span asp-validation-for="User.IsInstructor" class="text-danger"></span>
            </div>
            <!--User Address fields-->
            <div class="form-group">
                <label asp-for="User.StreetAddress" class="control-label"></label>
                <input asp-for="User.StreetAddress" class="form-control" />
                <span asp-validation-for="User.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.ApartmentNum" class="control-label"></label>
                <input asp-for="User.ApartmentNum" class="form-control" />
                <span asp-validation-for="User.ApartmentNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <input asp-for="User.City" class="form-control" />
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.State" class="control-label"></label>
                <select asp-for="User.State" class="form-control" >
                    <option value="">Select an option</option>
                    @foreach (string state in states)
                    {
                        <option value=@state>@state</option>
                    }
                </select>
                <span asp-validation-for="User.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Zip" class="control-label"></label>
                <input asp-for="User.Zip" class="form-control" />
                <span asp-validation-for="User.Zip" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-5 px-5" />
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </form>
        <br />
        <a class="nav-link p-0" asp-page="./Login">Already have an account?</a>
    </div>
</div>