@page
@model RazorPagesMovie.Pages.Users.Edit_ProfileModel

@{
    ViewData["Title"] = "Edit_Profile";
}

<h1>Edit_Profile</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ViewModel.Id" />
            <div class="form-group">
                <label asp-for="ViewModel.Email" class="control-label"></label>
                <input asp-for="ViewModel.Email" class="form-control" />
                <span asp-validation-for="ViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewModel.FirstName" class="control-label"></label>
                <input asp-for="ViewModel.FirstName" class="form-control" />
                <span asp-validation-for="ViewModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewModel.LastName" class="control-label"></label>
                <input asp-for="ViewModel.LastName" class="form-control" />
                <span asp-validation-for="ViewModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewModel.Birthdate" class="control-label"></label>
                <input asp-for="ViewModel.Birthdate" class="form-control" />
                <span asp-validation-for="ViewModel.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Profile">Back to Profile Page</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
