@page
@model RazorPagesMovie.Pages.Users.LogoutModel
@{
    Layout = null;
}

<!-- You can add some simple content if desired, but the user will be redirected almost immediately -->
<p>Logging out...</p>