html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    margin: 2rem;
}

.card.course {
    border: solid medium Black;
    background-image: linear-gradient(to bottom, lightblue 50%, mediumpurple );
}

.main-row {
    height: 100vh;
}

.main-col {
    max-width: auto;
    min-height: 100%;
}

.todo-done {
    text-decoration: line-through;
}